#leftHalf{
	float: left;
	width: 50%;
}

#rightHalf{
	float: right;
	width: 50%;
}

img{
	float: left;
	height: 45px;
	margin-right: 10px;
}

.userListElement{
	background-color: tan;
	margin: 5px;
	padding: 5px;
	border: 1px solid black;
	border-radius: 3px
}

#submitButton{
	display: block;
	width: 81%;
}

textarea {
   resize: none;
   width: 80%
}

.userName{
	font-size: 125%
}

.belowImage{
	clear: both;
}