#leftHalf{
	overflow-y: auto;
    overflow-x: hidden;
    float: left;
    width: 46%;
    max-height: 400px;
}

#rightHalf{
	float: right;
	width: 46%;
}

img{
	float: left;
	height: 45px;
	margin-right: 10px;
}

.userListElement{
	background-color: #F5DEB3;
	margin: 5px;
	padding: 5px;
	border: 1px solid black;
	border-radius: 3px
}

#submitButton{
	display: block;
	width: 91%;
}

textarea {
   resize: none;
   width: 90%;
}

.userName{
	font-size: 125%
}

.belowImage{
	clear: both;
}

.preserveFormatting{
	white-space: pre-wrap;
}

.inline{
	display: inline;
}