#leftHalf{
	border: 1px solid grey;
	width:45%;
	float: left;
}

#rightHalf{
	width: 45%;
	float: right;
	background-color: #F5DEB3;
	margin: 5px;
	padding: 5px;
	border: 1px solid black;
	border-radius: 3px;
	font-size: 140%
}

video{
	width: 40%;
	margin: 0 25%;
}